/*  ./src/scss/base/_base.scss
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $font-alt-color;
  background-color: color(grey-scale, 90);
}
