/* path to file: ./src/scss/01_config/_fonts.scss
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


// base font styles
$base-font-family: Arial, sans-serif;
$base-line-height: 1.5;

// alt font styles
$alt-font-family: Georgia, serif;
$alt-line-height: 2;