/* path to file: ./src/scss/03_base/_base.scss
*
*  description: contains global styles, such as normalize, typography, colors, etc
*  ------------------------------------------------------------------------------------
*/


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $font-alt-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: color(grey-scale, 90);

  @include font-smoothing;
}
