/* path to file: ./src/scss/03_base/_typography.scss
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


/* headings
*/
h1 {
  margin-top: 0;
  margin-bottom: em(30px);
  font-size: $base-font-size * 3;
}

/* paragraphs, list, etc.
*/
p,
ul,
ol,
dl {
    
}

/* links
*/
a {
  color: $font-link-color;

  &:visited {
    color: $font-link-color;
  }
}
