/* path to file: ./src/scss/05_layout/_container.scss
*
*  description: 
*  ------------------------------------------------------------------------------------
*/

.rb-container-fluid {
	max-width: 100%;
}

.rb-container {
	max-width: 1140px;
	margin: 0 auto;
}